extends index

block style
    style.
        .imgsArea{
            width: 100%;
            height: 400px;
        }

block content
    .panel-heading.border-radius-10
        h2 Image Tools
        form(action="/api/getimgs" method="post" class="imgsForm")
            textarea(class="imgsArea" name="imgsBody" col=10 row=8)
            form(action="/api/getimgs" method="post" class="imgsForm")
                .form-group
                    label.col-sm-2.control-label(for='imgsPath') 图片路径
                    .col-sm-10
                        input#imgsPath.form-control.imgsPath(type='text', placeholder='item.display.url')
                .form-group
                    label.col-sm-2.control-label(for='imgsSize') 图片尺寸
                    .col-sm-10
                        input#imgsSize.form-control.imgsSize(type='text', placeholder='200,200')
                .form-group
                    .col-sm-offset-2.col-sm-10
                        button.btn.btn-default.imgsSubmit(type='submit') 提交
                        a(class="imgsdl" href="/api/imgsDownload") 下载

        div.imgsInfoArea

block customScript
    script.
        var $form = $('.imgsForm');
        var $info = $('.imgsInfoArea');
        $form.on('submit', function (e) {
            e.preventDefault();
            $.ajax({
                url: '/api/getimgs',
                type: 'post',
                data: $form.serialize()
            }).done(function (d) {
                !d.status && $info.append('<a href="api/download/' + d.path + '">下载打包文件</a>');
            });
        });

