extends layout

block content
  .panel.panel-default.no-border
    .panel-heading.border-radius-10
      h2 Data Tools
    .panel-body
      .templatemo-flex-row.flex-content-row
        .col-1
          #timeline_div.templatemo-chart
          h3.text-center.margin-bottom-5 Conference Schedule
          p.text-center Lorem Ipsum
