doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='templatemo')
    link(href='stylesheets/font-awesome.min.css', rel='stylesheet')
    link(href='stylesheets/bootstrap.css', rel='stylesheet')
    link(href='stylesheets/templatemo-style.css', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block style
  body
    // Left column
    .templatemo-flex-row
      .templatemo-sidebar
        header.templatemo-site-header
          .square
          h1 DATAT
        .profile-photo-container
          img.img-responsive(src='images/profile-photo.jpg', alt='Profile Photo')
          .profile-photo-overlay
        nav.templatemo-left-nav
          ul
            li
              a.active(href='/' class='navlis')
                i.fa.fa-home.fa-fw
                | Dashboard
            li
              a(href='/xmls' class='navlis')
                i.fa.fa-bar-chart.fa-fw
                | XML
            li
              a(href='/imgs' class='navlis')
                i.fa.fa-database.fa-fw
                | 图片裁剪
      // Main content
      .templatemo-content.col-1.light-gray-bg
        .templatemo-top-nav-container
          .row
            nav.templatemo-top-nav.col-lg-12.col-md-12
              ul.text-uppercase
                li
                  a.active(href='') Admin panel
                li
                  a(href='') Dashboard
                li
                  a(href='') Overview
                li
                  a(href='login.html') Sign in form
        .templatemo-content-container
          .templatemo-content-widget.white-bg
            block content
          footer.text-right
            p
              | Copyright © schoeu
              | | More Tools
    script(src="/javascripts/jquery.js")
    // JS
    script(type='text/javascript', src='/javascripts/jquery.js')
    // JS
    script(type='text/javascript', src='/javascripts/jq.pjax.js')
    // jQuery
    script(type='text/javascript', src='/javascripts/page.js')
    // Templatemo Script
    block customScript
